body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  background-color: #fff; /* Default background */
}

.heart-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: red;
  clip-path: polygon(50% 0%, 0% 40%, 50% 100%, 100% 40%);
  animation: pulse 1.5s ease-in-out infinite;
}

.content {
  position: relative;
  z-index: 10;
  text-align: center;
  margin-top: 50px;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
